.delimitation-s {
  padding-top: 30px;
  padding-bottom: 16px;
  margin-left: 100px;
}

.r1 {
  background-color: #F6F7FB;
}

.r2 {
  background-color: #F6F7FB;
}

.r3 {
  background-color: #F6F7FB;
}

.delimitation {
  margin-left: 100px;
}

.r-r1 {
  padding-top: 12px;
  padding-bottom: 16px;
}


.r-r2 {
  padding-top: 8px;
  padding-bottom: 16px;
}

.delimitation-allprices {
  padding-left: 100px;
}

.delimitation-r1 {
  margin-left: 100px;
  padding-bottom: 16px;
}

.delimitation-comp {
  padding-top: 30px;
  padding-bottom: 16px;
  margin-left: 100px;
}

.delimitation-r2 {
  margin-left: 100px;
  padding-bottom: 16px;
}

.delimitation-address1 {
  margin-left: 100px;
  border: 2px solid #90A2C5;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.delimitation-address2 {
  margin-left: 100px;
  border: 2px solid #90A2C5;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.delimitation-end {
  padding-bottom: 16px;
}
