<div nz-row class="delimitation-btn">
    <div nz-col nzSpan="24">
        <button nz-button nzType="primary">Submit your request</button>
    </div>
</div>



<div nz-row class="r-r1">
    <div nz-col nzSpan="24">
        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation-s">
                <span style="font-size: large;font-style:normal"> Summary</span>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

        </div>


        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation">
                <span style="font-size: 15px;font-style:normal"> Workspace Starter:</span>

            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <span style="font-size: 15px;font-style:normal"> Users Package:</span>

            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

        </div>

        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation">
                <h3>Company, Project, Planing, Coordination</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3>50 Users</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

        </div>


        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation">
                <span style="font-size: 15px;font-style:normal">Additional Workspaces:</span>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <span style="font-size: 15px;font-style:normal">Collaborators:</span>

            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

        </div>



        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation">
                <h3>Element Management, Field Operations, Financials,Multi-Project Management, CRM</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3>100 Guest Users</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

        </div>


        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <span style="font-size: 15px;font-style:normal">Data Storage:</span>
                <h3></h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

        </div>


        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3>1TB</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

        </div>


        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation">
                <i nz-icon nzType="check-square" nzTheme="outline"></i>
                <span style="color:rgb(52, 226, 6);font-style:normal"> Yearly savings (17%) -$150</span>
            </div>

            <div nz-col nzSpan="8" class="delimitation-allprices">
                <h3>All prices net plus local VAT</h3>
            </div>

        </div>


        <div nz-row class="r1">
            <div nz-col nzSpan="8" class="delimitation-r1">
                <h3>Total $499 per Month</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">

            </div>

        </div>

    </div>

</div>


<div nz-row class="r-r2">
    <div nz-col nzSpan="24">
        <div nz-row class="r2">
            <div nz-col nzSpan="8" class="delimitation-comp">
                <h3>Company & billing data</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3></h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">

            </div>

        </div>

        <div nz-row class="r2">
            <div nz-col nzSpan="8" class="delimitation">
                <h3>Software Language</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <h3>VAT registration</h3>
            </div>

            <div nz-col nzSpan="8" class="delimitation">

            </div>

        </div>

        <div nz-row class="r2">
            <div nz-col nzSpan="8" class="delimitation">
                <nz-select [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
                    <nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>
                </nz-select>
            </div>

            <div nz-col nzSpan="8" class="delimitation">
                <nz-select [(ngModel)]="selectedCity">
                    <nz-option *ngFor="let c of cityData[selectedProvince]" [nzValue]="c" [nzLabel]="c"></nz-option>
                </nz-select>
            </div>

            <div nz-col nzSpan="8" class="delimitation-r2">

            </div>

        </div>
    </div>
</div>






<div nz-row class="r-r3">
    <div nz-col nzSpan="24">
        <div nz-row class="r3">
            <div nz-col nzSpan="8" class="delimitation-comp">
                <h3>Company Address</h3>
            </div>
        </div>

        <div nz-row class="r3">
            <div nz-col nzSpan="8" class="delimitation-address1">
                <div class="address">
                    <p>260 W 39th St, 1Bth,floor, New York, New York Country, New York, 1001B,New York, USA</p>
                </div>
            </div>

            <div nz-col nzSpan="8" class="delimitation-address2">
                <div class="address">
                    <p>B136 Poplar Dr South Vallery, Whashington 32179 United States</p>
                </div>
            </div>

            <div nz-col nzSpan="8" class="delimitation-end">

            </div>

        </div>


    </div>
</div>