<nz-tabset>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name" [nzDisabled]="tab.disabled">

    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <h3>Billing</h3>
          <div nz-row>
            <span>Save an extra 17%</span>
          </div>

          <div nz-row>
            <span>invoiced monthly</span>
          </div>

          <div nz-row>
            <button nz-button nzType="primary">Monthly</button>
            <button nz-button nzType="default">Yearly</button>
          </div>

          <div nz-row>
            <h4>Features</h4>
          </div>

          <div nz-row>
            <span>Unilimited projetcs</span>
          </div>

          <div nz-row>
            <span>Employees</span>
          </div>

          <div nz-row>
            <span>Collaborators</span>
          </div>

          <div nz-row>
            <span>Storage Size</span>
          </div>

          <div nz-row>
            <span>IOS and Android apps</span>
          </div>

          <div nz-row>
            <h3>Workspaces</h3>
          </div>

          <div nz-row>
            <span>Company</span>
          </div>

          <div nz-row>
            <span>Project</span>
          </div>

          <div nz-row>
            <span>Coordination</span>
          </div>

          <div nz-row>
            <span>Planning</span>
          </div>

          <div nz-row>
            <span>Element Management</span>
          </div>

          <div nz-row>
            <span>Field Operations</span>
          </div>

          <div nz-row>
            <span>Financiais</span>
          </div>

          <div nz-row>
            <span>Multi-Project Management</span>
          </div>

          <div nz-row>
            <span>CRM</span>
          </div>

          <div nz-row>
            <h3>Support</h3>
          </div>

          <div nz-row>
            <span>Knowledge base</span>
          </div>

          <div nz-row>
            <span>Tickets</span>
          </div>

          <div nz-row>
            <span>24 hours response time</span>
          </div>

          <div nz-row>
            <span>Tailored onboarding</span>
          </div>

          <div nz-row>
            <span>Phone Support</span>
          </div>

          <div nz-row>
            <span>Custom contract & invoicing</span>
          </div>

          <div nz-row>
            <span>Audit Trials</span>
          </div>

        </div>


      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">Team
          <div nz-row>
            <span>$199/Month</span>
          </div>

          <div nz-row>
            <span> </span>
          </div>
          
          <div nz-row>
            <button nz-button nzType="default">Downgrade</button>
          </div>

          <div nz-row>
            <span> </span>
          </div>



        </div>


      </div>


      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">Business</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">Enterprise</div>
      </div>
    </div>

  </nz-tab>
</nz-tabset>