<nz-page-header class="site-page-header" nzBackIcon nzTitle="PlanToBuild Workspaces & Functions">


</nz-page-header>

<nz-page-header class="site-page-header" nzSubtitle="This is your company plan information"></nz-page-header>
<nz-tabset>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name" [nzDisabled]="tab.disabled">

    <div nz-col class="c1">
      <div nz-row class="r1">
        <div nz-col nzSpan="6" class="delimitation-c1">
          <h3>Billing</h3>
        </div>

        <div nz-col nzSpan="6" class="col-team">
          <h3>Team</h3>
        </div>

        <div nz-col nzSpan="6" class="col-business">
          <h3>Business</h3>
        </div>

        <div nz-col nzSpan="6" class="col-enetprise">
          <h3>Enetprise</h3>
        </div>

      </div>



      <div nz-row class="r-2">
        <div nz-col nzSpan="6" class="delimitation-c1">
          <span>Save an extra 17%</span>
        </div>

        <div nz-col nzSpan="6" class="delimitation">

        </div>

        <div nz-col nzSpan="6" class="delimitation">

        </div>

        <div nz-col nzSpan="6" class="delimitation">

        </div>
      </div>




      <div nz-row class="r-3">
        <div nz-col nzSpan="6" class="delimitation-c1">
          <span>Invoiced monthly.</span>
        </div>

        <div nz-col nzSpan="6" class="delimitation">
          
            <h3>$199<span style="color:rgb(120, 122, 117);font-style:italic">/Month</span></h3>
         

        </div>

        <div nz-col nzSpan="6" class="delimitation">          
          <h3>$499<span style="color:rgb(120, 122, 117);font-style:italic">/Month</span></h3>
        </div>

        <div nz-col nzSpan="6" class="delimitation">
          <span>Custom Quote</span>
        </div>

      </div>

      <div nz-row class="r-4">
        <div nz-col nzSpan="6" class="delimitation-c1">
          <label nz-radio-button nzValue="large">Monthly</label>
          <button nz-button nzType="default">Yearly</button>
    </div>

        <div nz-col nzSpan="6" class="delimitation">
          <button nz-button nzType="default">Downgrade</button>
        </div>

        <div nz-col nzSpan="6" class="delimitation">
          <span>Your plan</span>
        </div>

        <div nz-col nzSpan="6" class="delimitation">
          <button nz-button nzType="default">Contact us</button>
        </div>

      </div>

    </div>

    <div nz-row class="features">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <h3>Features</h3>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>
    </div>



    <div nz-row class="r-5">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Unilimited projects</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="r-6">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Employees</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>10</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>50</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>Unlimited</span>
      </div>

    </div>



    <div nz-row class="r-7">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Collaborators</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>25</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>100</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>Unlimited</span>
      </div>

    </div>



    <div nz-row class="r-8">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Storage Size</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>1 TB</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>10 TB</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <span>Unlimited</span>
      </div>

    </div>



    <div nz-row class="r-9">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>IOS and Android apps</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="workspaces">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <h3>Workspaces</h3>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

    </div>



    <div nz-row class="r-10">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Company</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="r-11">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Project</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="r-12">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Coordination</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Planning</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Element Management</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Field Operations</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Financiais</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Multi-Project Management</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>CRM</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="support">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <h3>Support</h3>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>
    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Knowledge base</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Tickets</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>


    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>24 hours response time</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>


    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Tailored onboarding</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>


    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Phone Support</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Custom contract & invoicing</span>
      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">

      </div>

      <div nz-col nzSpan="6" class="delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>



    <div nz-row class="gutter-col">
      <div nz-col nzSpan="6" class="delimitation-c1">
        <span>Audit Trials</span>
      </div>

      <div nz-col nzSpan="6" class="final-delimitation">

      </div>

      <div nz-col nzSpan="6" class="final-delimitation">

      </div>

      <div nz-col nzSpan="6" class="final-delimitation">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

    </div>